.rect-border {
    $b-l: var(--border-len);

    --cur-len: calc(var(--border-len) * (var(--border-hold-progress) / 100));

    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    pointer-events: none;

    path {
        stroke-dasharray: var(--cur-len) calc($b-l - var(--cur-len));
        stroke: var(--border-hold-color, var(--color-info-500));
        stroke-linecap: round;
        fill: none;
    }
}
