node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
perf.data
perf.data.old
flamegraph.svg

# Local Netlify folder
.netlify

.eslintcache
*.tsbuildinfo
.vite-inspect
dist.server
builds

# cargo-insta
*.pending-snap

# Added by cargo
/target
/.direnv

# nix
result*
/VencordCompanion_OLD
