[Unit]
Description=sadan.zip_browser

[Service]
Type=exec
Restart=always
ExecStartPre=pnpm install --frozen-lockfile
ExecStart=pnpm start:server
WorkingDirectory=%h/src/sadan.zip

[Install]
WantedBy=default.target
