/* *{ */
/*     border: 1px solid green; */
/* }  */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
@font-face {
  font-family: "ComicSans";
  src: url("fonts/comicsans.otf");
}
:root {
  font-family: "Comic Sans MS", "Comic Sans", "ComicSans", Arial, Helvetica, sans-serif;
  color: #9ece6a;
  background: url("assets/snow.gif");
  background-color: #1a1b26;
}
div {
  text-align: center;
  margin: auto;
  width: 50%;
}
div#title {
  margin-top: 12.5%;
}
div#bio {
  padding-top: 1.5%;
}
div#foot {
  color: #9aa5ce;
  position: fixed;
  bottom: 1%;
  width: 100%;
  height: auto;
}
img#pfp {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}
div#links a img {
  width: 50px;
  height: 50px;
  padding: 0.25%;
}
.cubeish {
  border-radius: 25%;
}
h1 {
  color: #f7768e;
}
a:link {
  color: #0db9d7;
  text-decoration: none;
}
a:visited {
  color: #785cad;
}
