@use "u";

@layer components {
    .button {
        border-radius: .375rem;
        padding: .5rem;

        &,
        > .button-text {
            @include u.anim-prop(color border-color background-color);
            @include u.anim-dur;
        }

        &:hover {
            cursor: pointer;
        }

        &:disabled {
            cursor: not-allowed;
        }


        &.icon-button {
            --check-progress: 0;
            --error-progress: 0;

            position: relative;
            color: var(--button-color, var(--color-primary-400));

            &:is(a) {
                display: block;
            }

            &.filled {
                color: var(--button-text-color, var(--color-bg-100));
            }

            &.show-check {
                --check-progress: 1;
            }

            &.show-error {
                --error-progress: 1;
            }

            > .icon,
            > .status-icon {
                @include u.anim-dur;
            }

            > .icon {
                @include u.anim-blur-scale-fade(calc(1 - max(var(--check-progress), var(--error-progress))));
            }

            > .status-icon {
                position: absolute;
                top: 0;
                left: 0;
                width: inherit;
                height: inherit;
                padding: inherit;

                &.check-icon {
                    @include u.anim-blur-scale-fade(var(--check-progress));
                }

                &.error-icon {
                    @include u.anim-blur-scale-fade(var(--error-progress));
                }
            }

            &:is(.outline, .text) > .status-icon {
                color: var(--button-color-base);
            }
        }

        &.filled {
            &:hover {
                --button-color: lch(from var(--button-color-base) calc(l * .85) c h);
            }

            &:active {
                --button-color: lch(from var(--button-color-base) calc(l * .7) c h);
            }

            &:disabled {
                --button-color: #{u.alpha(var(--button-color-base) 80%)};
            }

            > .button-text {
                --text-color: var(--button-text-color, var(--color-bg-100));
            }

            background-color: var(--button-color, var(--button-color-base));
        }

        &.outline,
        &.text {
            background-color: transparent;

            --button-color: var(--button-color-base);

            > .button-text {
                --text-color: var(--button-color);
            }

            &:disabled {
                --button-color: color-mix(in oklab, var(--button-color-base), black 30%);
            }

            &.outline {
                border-width: 2px;
                border-style: solid;
                border-color: var(--button-color);

                &:hover {
                    background-color: u.alpha(var(--button-color) var(--hover-bg-opacity, 5%));
                }

                &:active {
                    background-color: u.alpha(var(--button-color) 15%);
                }

                &:disabled {
                    background-color: unset;
                }
            }

            &.text {
                &:hover {
                    background-color: u.alpha(var(--button-color) var(--hover-bg-opacity, 10%));
                }

                &:active {
                    background-color: u.alpha(var(--button-color) 20%);
                }

                &:disabled {
                    background-color: u.alpha(var(--button-color) 10%);
                }
            }
        }

        &.primary,
        .primary {
            --button-color-base: var(--color-primary-400);
        }

        &.secondary,
        .secondary {
            --button-color-base: var(--color-secondary-500);
        }

        &.accent,
        .accent {
            --button-color-base: var(--color-accent-300);
        }

        &:is(.outline, .text):hover.accent,
        &:is(.outline, .text):hover .accent {
            --hover-bg-opacity: 10%;
        }

        &.neutral,
        .neutral {
            --button-color-base: var(--color-neutral-content);
        }

        &.filled.neutral,
        &.filled .neutral {
            --button-text-color: var(--color-neutral);
        }

        &.info,
        .info {
            --button-color-base: var(--color-info-500);
        }

        &.info,
        .info-700 {
            --button-color-base: var(--color-info-700);
        }

        &.filled.info-700,
        &.filled .info-700 {
            --button-text-color: var(--color-fg-500);
        }

        &.success,
        .success {
            --button-color-base: var(--color-success-300);
        }

        &.warning,
        .warning {
            --button-color-base: var(--color-warning-300);
        }

        &.error,
        .error {
            --button-color-base: var(--color-error-400);
        }
    }
}