@use "u";

@layer components {
    .switch {
        height: 2rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        border-radius: 9999px;

        --bg: var(--bg-base);

        background-color: var(--bg);

        &,
        .thumb {
            @include u.anim-prop(background-color color fill border-radius);
            @include u.anim-dur(250ms);
            @include u.anim-ease-in;
        }

        &.enabled {
            --bg-base: var(--color-primary-400);

            .thumb {
                fill: var(--color-neutral);
            }
        }

        &:not(.enabled) {
            border: 1px solid;
            border-color: var(--color-fg-800);

            --bg-base: var(--color-bg-300);

            .thumb {
                fill: var(--color-fg-600);
            }
        }

        &:focus-visible {
            outline: 3px solid var(--color-primary-400);
            outline-offset: .25rem;
        }

        svg {
            display: flex;
            place-items: center center;
            width: 100%;
            height: 100%;
        }
    }
}
