@layer components {
    .w-full {
        width: 100%;
    }
    .h-1 {
        height: calc(var(--spacing) * 1);
    }
    .h-1px {
        height: 1px;
    }
    .my-2 {
        margin-block: calc(var(--spacing) * 2);
    }
    .max-h-400px {
        max-height: 400px;
    }
    .p-0 {
        padding: 0;
    }
    .p-2 {
        padding: calc(var(--spacing) * 2);
    }
}