@mixin z($idx) {
	--z: $idx;

	z-index: $idx;
}

$z: var(--z, 0);

:where(*) {
	z-index: $z;
}

.cursor {
	@include z(10000001);
}

.modal {
	@include z(100);
}

:where(.modal) * {
	@include z(102);
}

.select {
	z-index: calc($z + 5);
}

.slider {
	z-index: $z;

	.markers {
		z-index: $z;
	}

	.track {
		z-index: calc($z + 2);
	}

	.thumb {
		z-index: calc($z + 3);
	}
}

.base-visual-effect {
	z-index: calc($z - 10);
}
