.select {
    z-index: 5;
}
.cursor {
    z-index: 10000001;
}
.modal {
    z-index: 100;
    & .select {
        z-index: 107;
    }
}
:where(.modal) * {
    z-index: 102;
}
.base-visual-effect {
    z-index: -10;
}