@layer components {
    .border-progress {
        position: absolute;
        top: 0;
        left: 0;
        overflow: visible;

        > path {
            overflow: visible;
            pointer-events: none;
            stroke: var(--border-hold-color, var(--color-info-500));
            stroke-linecap: round;
        }

        > mask {
            mask-type: luminance;

            > rect {
                fill: white;
            }

            > path {
                fill: black;
            }
        }
    }
}