#_vars {
  --shadow-container-width: 0px;
  --shadow-container-height: 0px;
  --log-shadow-container-height: 0px;
}

.drop-shadow > * {
  --box-shadow-color: --alpha(var(--color-bg-fg-700) / 0.3);
  --box-shadow-hover-color: --alpha(var(--color-bg-fg-700) / 0.4);
  filter: drop-shadow(0px 8px 8px var(--box-shadow-color));
  transition: all 0.2s ease-in-out;
}

.drop-shadow-no-hover > * {
  --box-shadow-color: --alpha(var(--color-bg-fg-700) / 0.3);
  --box-shadow-hover-color: --alpha(var(--color-bg-fg-700) / 0.4);
  filter: drop-shadow(0px 8px 8px var(--box-shadow-color));
}

.drop-shadow:hover > * {
  filter: drop-shadow(
    0px calc(var(--log-shadow-container-height) * 2) calc(var(--log-shadow-container-height))
      var(--box-shadow-hover-color)
  );
}
