@import "tailwindcss";
@theme {
  --color-bg-100: #1a1b26;
  --color-bg-200: #16161e;
  --color-bg-300: #0c0e14;
  --color-bg-fg: #c0caf5;
  --color-bg-fg-500: var(--color-bg-fg);
  --color-bg-fg-600: #a9b1d6;
  --color-bg-fg-700: #737aa2;
  --color-bg-fg-800: #565f89;
  --color-fg-fg: #16161d;
  --color-primary: #7aa2f7;
  --color-secondary: #9d7cd8;
  --color-accent: #4fd6be;
  --color-neutral: #161928;
  --color-neutral-content: #c0caf5;
  --color-info: oklch(0.719 0.1322 264.2);
  --color-info-500: var(--color-info);
  --color-info-600: oklch(0.639 0.1322 264.2);
  --color-info-700: oklch(0.559 0.1322 264.2);
  --color-success: #c3e88d;
  --color-warning: #ffc777;
  --color-error: #ff757f;
}

@utility sb-track-* {
  --scrollbar-track-color: --value(--color-*);
}

@utility sb-thumb-* {
  --scrollbar-thumb-color: --value(--color-*);
}

@font-face {
  font-family: "comicsans";
  src: url("assets/comicsans.otf");
}

@font-face {
  font-family: "comicsanslocal";
  src: local(ComicShannsMono Nerd Font Mono);
}

:root {
  font-family: "comicsanslocal", "comicsans";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-bg-200);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@layer base {
  :where(svg) {
    fill: currentColor;
  }
}

/* used in text component */
.text {
  --idk: "not empty";
}

a, a>.text {
  font-weight: 500;
  color: var(--color-info-500);
  text-decoration: inherit;
}
a:hover, a:hover>.text {
  color: var(--color-info-600);
}

:where([tabindex="-1"]:focus) {
  outline: none;
}
