@function alpha($color) {
    @return color-mix(in oklab, $color, transparent);

}

@layer components {
    %default-input-range {
        box-shadow: none;
        border: none;
        outline: none;
        pointer-events: all;
        inline-size: 100%;
        appearance: none;
        -webkit-appearance: none;


        &::-webkit-slider-thumb,
        &::-webkit-slider-runnable-track,
        &::-webkit-slider-container {
            appearance: none;
            -webkit-appearance: none;
            box-sizing: border-box;
            -webkit-user-modify: read-only !important;
        }

        &::-webkit-slider-container,
        &::-webkit-slider-runnable-track {
            min-inline-size: 0px;
            flex: 1 1 0%;
        }

        &::-webkit-slider-thumb,
        &::-webkit-slider-runnable-track {
            display: block;
        }

        &::-webkit-slider-container {
            display: flex;
        }

        &::-webkit-slider-runnable-track {
            align-self: center;
        }
    }

    $inf: calc(infinity * 1px);

    .slider {
        display: flex;
        align-items: center;
        position: relative;

        --progress: .5;

        --thumb-height: 2rem;
        --track-height: calc(var(--thumb-height) / 3);
        --thumb-width: .3rem;

        &.vertical {
            writing-mode: vertical-rl;

            transform: rotate(180deg);

            &.reverse {
                transform: none;
            }

            input::-webkit-slider-thumb {
                height: var(--thumb-width);
                width: var(--thumb-height);
            }
        }

        &.horizontal {
            width: 100%;

            input::-webkit-slider-thumb {
                height: var(--thumb-height);
                width: var(--thumb-width);
            }
        }

        input {
            @extend %default-input-range;
            position: relative;

            &::-webkit-slider-thumb {
                border-radius: $inf;
                background-color: var(--color-bg-fg);
            }
        }

        &:has(input:disabled) {
            >* {
                cursor: not-allowed;
            }

            input {
                &::-webkit-slider-thumb {
                    background-color: alpha(var(--color-bg-fg) 50%);
                }
            }

            >.progress {
                background-color: alpha(var(--color-primary) 50%);
            }

            >.remainder {
                background-color: alpha(var(--color-bg-fg-700) 50%);
            }
        }

        >.progress,
        >.remainder {
            position: absolute;
        }

        >.progress {
            background-color: var(--color-primary);
        }

        >.remainder {
            background-color: var(--color-bg-fg-700);
        }

        // bad name
        $widthFromLeft: calc(var(--progress) * 100% + ((var(--progress) - .5) * -1 * var(--thumb-width)));
        //                                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        // This is needed to keep the end of the progress track always at the center of the thumb

        &.vertical {

            >.progress,
            >.remainder {
                block-size: var(--track-height);
            }

            >.progress {
                border-top-left-radius: $inf;
                border-top-right-radius: $inf;
                height: $widthFromLeft;

                // * 1.5 to account for the fact that we start in it's center
                $guh: calc(100% - var(--thumb-width) * 1.5);
                clip-path: polygon(0 0, 100% 0, 100% $guh, 0 $guh);
            }

            >.remainder {
                border-bottom-left-radius: $inf;
                border-bottom-right-radius: $inf;

                top: $widthFromLeft;
                bottom: 0;

                // * 1.5 to account for the fact that we start in it's center
                $guh: calc(var(--thumb-width) * 1.5);
                clip-path: polygon(0 $guh, 100% $guh, 100% 100%, 0 100%);
            }
        }

        &.horizontal {

            >.progress,
            >.remainder {
                block-size: var(--track-height);
            }

            >.progress {
                left: 0;
                width: $widthFromLeft;

                border-start-start-radius: $inf;
                border-end-start-radius: $inf;

                // * 1.5 to account for the fact that we start in it's center
                $guh: calc(100% - var(--thumb-width) * 1.5);
                clip-path: polygon(0 0, $guh 0, $guh 100%, 0 100%);
            }

            >.remainder {
                left: $widthFromLeft;
                right: 0;

                border-start-end-radius: $inf;
                border-end-end-radius: $inf;

                // * 1.5 to account for the fact that we start in it's center
                $guh: calc(var(--thumb-width) * 1.5);
                clip-path: polygon($guh 0, 100% 0, 100% 100%, $guh 100%);
            }
        }

        &.xs {
            --thumb-height: 1rem;
            --thumb-width: .15rem;
        }

        &.sm {
            --thumb-height: 2rem;
        }

        &.md {
            --thumb-height: 2.5rem;
            --track-height: 2rem;
        }

        &.lg {
            --thumb-height: 4rem;
            --track-height: 3.5rem;
        }
    }
}